*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #080808;
  --primary: #FFFFFF; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary);
}

